@import 'base.scss';

body{
    background-color: lighten($ligtBeige, 2%);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $darkGrey;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    &:link, &:visited{
        color: inherit;
        text-decoration: none;
    }
    &:hover{
        color: black;
    }
}